.event-card {
  .event-cinema {
    padding-left: 6rpx;
    font-size: 24rpx;
    color: #64748B;
  }
  .event-address-name {
    padding-top: 6rpx;
    font-size: 28rpx;
    color: #94A3B8;
  }
  .event-movie-name {
    padding-top: 6rpx;
    font-size: 28rpx;
    color: #0F172A;
  }
  .section-title {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
  }
}
