@use '../../assets/styles/variables.scss' as *;

.login-modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal-content {
  width: 600rpx;
  background-color: #fff;
  border-radius: 24rpx;
  padding: 40rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  text-align: center;
  margin-bottom: 40rpx;
  
  .modal-title {
    display: block;
    font-size: 36rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 12rpx;
  }
  
  .modal-subtitle {
    font-size: 26rpx;
    color: #999;
  }
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40rpx;
  
  .avatar-btn {
    padding: 0;
    width: 120rpx;
    height: 120rpx;
    border-radius: 50%;
    margin-bottom: 16rpx;
    background-color: #f0f0f0;
    
    &::after {
      border: none;
    }
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .avatar-tip {
    font-size: 24rpx;
    color: #999;
  }
}

.input-wrapper {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20rpx 30rpx;
  border-radius: 12rpx;
  margin-bottom: 40rpx;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  
  .input-label {
    font-size: 28rpx;
    color: #333;
    margin-right: 20rpx;
    font-weight: 500;
  }
  
  .nickname-input {
    flex: 1;
    font-size: 28rpx;
    color: #333;
    background: transparent;
  }
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  button {
    width: 46%;
    font-size: 30rpx;
    height: 80rpx;
    line-height: 80rpx;
    border-radius: 40rpx;
    margin: 0;
    
    &::after {
      border: none;
    }
  }
  
  .btn-cancel {
    background-color: #f5f5f5;
    color: #666;
  }
  
  .btn-confirm {
    background-color: $color-primary;
    color: #fff;
  }
}
